/.git
/.github
/core/assets/vendor
/vendor
/node_modules
/dist
.dockerignore
CHANGELOG.md
CONTRIBUTORS.md
Dockerfile.phpdoc
Dockerfile.build
README.md
SECRUITY.md
composer.lock
docker-compose.yaml
web.config.example
nginx.example
phpstan.neon
build.sh
